<mat-card>
    <mat-card-title>{{ title }}</mat-card-title>
    <form>

        <mat-form-field>
            <mat-label>Cliente</mat-label>
            <mat-select name="selectedClient" [compareWith]="compareClient" [(ngModel)]="selectedClient" required>
                <mat-option *ngFor="let client of clients" [value]="client" >
                    {{client.name}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Produtos</mat-label>
            <mat-select name="selectedProducts" [compareWith]="compareProducts" [(ngModel)]="selectedProducts" multiple required>
                <mat-option *ngFor="let product of products"  [value]="product">
                    {{product.name}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        
        <div>
            <button mat-raised-button type="submit" (click)="createOrUpdate()" color="primary">
                Salvar
            </button>
            <button mat-raised-button (click)="cancel()" color="warn">
                Cancelar
            </button>
        </div>
    </form>
</mat-card>